/*
 Welcome2thedungeon
*/

body {
    padding: 20;
    margin: 20;

}
/* Added Background color */
header {
    border: 25px solid black;
    width: 100%;
}
.dungeon{
    color: gray;
    text-align: right;
}
/* Added blue border */

h1,h2,h3{
    color: green;
}
p{
    text-align: center;
}
